@media only screen and (max-width: 1200px) {
    header{

    }
    .container{

    }
}
@media only screen and (max-width: 992px) {
    header{

    }
    .better_planet{

    }

    .product .container {

    }
    .info_left, .info_right {

    }
    .blog_posts_element{

    }
    .pre_footer_article{

    }
    .pre_footer_article form {

    }
    .pre_footer .gradient {

    }
    .main_container_footer{

    }

}
@media only screen and (max-width: 768px) {
    header .container{

    }
    .header_menu a {

    }
    header .login {
        p
    }

    header nav ul {

    }
    .welcome_to_greenshop {

    }
    .better_planet{

    }

    .link_shop_now {

    }

    .container img{

    }
    .product .container {

    }


    .product .product_sort ul {

    }
    .product .product_sort ul a {

    }
    .product .short_by {

    }
    .product .short_by:after {
        transform: scale(0.7);
    }
    .main_product_item article {

    }
    .article_tittle{

    }


    .main_product_item article .sale{

    }
    .container .left_side img {

    }
    .container .main_product_item img{

    }
    .number_list {

    }
    .number_list li a {

    }
    .number_list li:last-of-type a:before {
        transform: scale(0.7);
    }
    .info .container {

    }
    .info .info_right, .info_left{

    }
    .info .container .info_left img, .info_right img{

    }
    .info_left div h3, .info_right div h3 {

    }
    .info_left div p, .info_right div p {

    }
    .info_left div a, .info_right div a {

    }
    .number_list {

    }
    .info div a:after{
        transform: scale(0.7);
    }
    .blog_posts h2 {

    }
    .blog_posts p{

    }
    .blog_posts_element .date {

    }
    .blog_posts_element h4 {

    }
    .blog_posts_element a {


    }
    .blog_posts_element a:after {
        transform: scale(0.7);
    }
    .pre_footer_article h4 {

    }
    .pre_footer_article p {

    }
    .pre_footer_input button {

    }
    .pre_footer_input input {

    }

    .main_container_footer {

    }


}
@media only screen and (max-width: 540px) {
    header .login {

    }
    header nav ul {

    }
    header nav ul {

    }

    .article_banner {

    }

    .banner .container {


    }
    .text_banner {

    }
    .text_banner br{

    }
    .banner .container img {

    .product .container {

    }
    .product .left_side {

    }
    .product .product_sort {

    }
    .main_product_item{

    }
    .info .container {

    }
    .info_left div a, .info_right div a {

    }
    .pre_footer_article2, .pre_footer_article3 {

    }
    .pre_footer .gradient {

    }
    .pre_footer .gradient .adress {

    }
    .pre_footer .gradient .phone {

    }
    .pre_footer .gradient .phone:before {

    }
    .main_container_footer {

    }
}
@media only screen and (max-width: 428px) {
    header .login {

    }
    .link_shop_now{

    }
    .article_banner {

    }
    .action_items {

    }



    }
    .pre_footer .gradient .phone {

    }
    }
    .main_container_footer {

    }
}
@media  only screen and (max-width: 320px) {
;
    header {

    }
    header .login {

    }
    .product .product_sort ul {

    }
    .product .product_sort {

    }
    .info .info_right, .info_left{

    }
}