/*_____________________________import____________________________*/
@import url(normolize.css);
@import url(reset.css);
.Registration {
  text-align: center;
  max-width: 500px;
  padding: 50px 100px; }

.Login_registration {
  font-family: 'cera_proregular', sans-serif;
  color: #3d3d3d;
  font-weight: 500;
  font-size: 20px;
  line-height: 80%; }

.Register {
  font-family: 'cera_proregular', sans-serif;
  color: #46a358;
  font-weight: 500;
  font-size: 20px;
  line-height: 80%; }

.Enter_email {
  font-family: 'cera_proregular', sans-serif;
  font-weight: 400;
  font-size: 13px;
  line-height: 123%;
  margin-bottom: 30px; }

.form_style {
  font-family: 'cera_proregular', sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 114%;
  margin-bottom: 16px;
  padding-left: 14px;
  border: 1px solid #eaeaea;
  border-radius: 5px;
  width: 300px;
  height: 40px; }

.Button_Register {
  font-family: 'cera_proregular', sans-serif;
  margin-bottom: 36px;
  background: #46a358;
  border-radius: 5px;
  width: 300px;
  height: 45px;
  font-weight: 700;
  font-size: 16px;
  line-height: 100%;
  color: #fff; }

.Or_register_with {
  font-family: 'cera_proregular', sans-serif;
  margin-bottom: 27px;
  font-weight: 400;
  font-size: 13px;
  line-height: 123%;
  color: #3d3d3d;
  text-align: center; }

.Google_Facebook_link {
  font-family: 'cera_proregular', sans-serif;
  display: block;
  margin-bottom: 20px;
  padding: 10px 68px 10px 64px;
  font-weight: 500;
  font-size: 13px;
  line-height: 123%;
  text-align: center;
  color: #727272;
  border: 1px solid #fff;
  text-decoration: none;
  border-radius: 5px;
  width: 300px;
  height: 40px; }

@font-face {
  font-family: 'cera_proregular';
  src: url("../fonts/cerapro-regular-webfont.eot");
  src: url("../fonts/cerapro-regular-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/cerapro-regular-webfont.woff2") format("woff2"), url("../fonts/cerapro-regular-webfont.woff") format("woff"), url("../fonts/cerapro-regular-webfont.ttf") format("truetype"), url("../fonts/cerapro-regular-webfont.svg#cera_proregular") format("svg");
  font-weight: normal;
  font-style: normal; }
.preloader {
  position: fixed;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  overflow: hidden;
  background: #edf6ee;
  z-index: 1001; }

.preloader_image {
  position: relative;
  top: 50%;
  left: 50%;
  width: 70px;
  height: 70px;
  margin-top: -35px;
  margin-left: -35px;
  text-align: center;
  animation: preloader-rotate 3s infinite linear; }

@keyframes preloader-rotate {
   100% {
    -webkit-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    transform: rotate(360deg); } }
.loaded_hiding .preloader {
  transition: 0.3s opacity;
  opacity: 0; }

.loaded .preloader {
  display: none; }

/*______________________________mixines_____________________________*/
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box; }

a {
  display: inline-block; }

.green_button, .login, .link_shop_now, .info_left a, .info_right a, .pre_footer_input button {
  font-family: 'cera_proregular', sans-serif;
  font-weight: 500;
  font-size: 16px;
  text-decoration: none;
  color: #fff;
  border-radius: 6px;
  background: #46a358; }

.container {
  max-width: 1200px;
  margin: auto;
  display: flex;
  justify-content: space-between;
  align-items: center; }
  @media screen and (max-width: 1200px) {
    .container {
      padding: 0 15px; } }
  @media screen and (max-width: 768px) {
    .container img {
      width: auto;
      height: auto; } }

header {
  padding-top: 30px; }
  @media screen and (max-width: 1200px) {
    header {
      padding: 10px 15px; } }
  @media screen and (max-width: 992px) {
    header {
      padding: 10px 15px; } }
  @media screen and (max-width: 320px) {
    header {
      padding: 7px 0; } }
  header .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid rgba(70, 163, 88, 0.5); }
  @media screen and (max-width: 768px) {
    header .container {
      padding: 0 15px; } }
  @media screen and (max-width: 540px) {
    header .container {
      display: block; } }

header nav ul {
  display: flex;
  gap: 50px; }

.header_menu a {
  font-family: "Encode Sans Expanded", sans-serif;
  font-weight: 400;
  font-size: 16px;
  color: #3d3d3d;
  text-decoration: none; }

.header_menu:after {
  display: block;
  width: 0;
  content: "";
  background-color: #46a358;
  height: 3px;
  margin-top: 25px;
  transition: 0.4s; }

.header_menu:hover:after {
  content: "";
  width: 100%; }

.header_menu a:hover {
  content: "";
  font-weight: bolder; }

header nav .sub_menu {
  position: absolute;
  min-width: 188px;
  flex-direction: column;
  gap: 0;
  top: 30px;
  display: none;
  padding-top: 20px;
  max-height: 0;
  transition: 0.7s; }

header nav .sub_menu li {
  background-color: #edf6ee; }

header nav .sub_menu li:after {
  display: none; }

header nav .sub_menu a {
  font-family: "Encode Sans Expanded", sans-serif;
  font-weight: 400;
  font-size: 16px;
  color: #3d3d3d; }

header nav .sub_menu a:hover {
  font-weight: 700;
  font-size: 16px;
  color: #fff; }

header nav .sub_menu li a {
  font-weight: normal;
  line-height: 40px;
  font-size: 16px;
  display: block;
  padding-top: 7px;
  padding-left: 14px;
  padding-bottom: 8px; }

.dropdown {
  position: relative;
  z-index: 3; }

.header_menu:hover .sub_menu {
  display: flex;
  max-height: 300px; }

header nav .dropdown .sub_menu .dropdown_2:hover .dropdown_a {
  color: #fff;
  font-weight: 700; }

header nav .sub_menu .dropdown_2:after {
  content: "";
  display: block;
  background-image: url("../img/Frame_priming.svg");
  background-size: cover;
  height: 10px;
  width: 7px;
  position: absolute;
  right: 8px;
  margin: 0;
  top: 24px;
  color: #fff; }

header nav .sub_menu li:hover {
  background-color: #46A358; }

header nav .dropdown_2 {
  position: relative; }

header nav .dropdown_2 .sub_menu_2:hover {
  background-color: #46A358;
  display: block; }

header nav .dropdown_2 a:hover {
  font-family: "Encode Sans Expanded", sans-serif;
  font-weight: 700;
  color: white; }

header nav .dropdown_2:hover:after {
  content: "";
  background-image: url("../img/Frame_priming_white.svg"); }

header nav .sub_menu_2 {
  position: absolute;
  min-width: 178px;
  background-color: #edf6ee;
  flex-direction: column;
  gap: 0;
  top: -165px;
  left: 190px;
  display: none; }

header nav .dropdown_2:hover .sub_menu_2 {
  display: block; }

.login {
  font-family: "Encode Sans Expanded", sans-serif;
  font-weight: 500;
  font-size: 16px;
  color: #fff;
  text-decoration: none;
  padding: 7px 17px;
  border-radius: 6px;
  background: #46a358;
  display: flex;
  align-items: center;
  margin-bottom: 18px; }
  .login:before {
    content: "";
    display: inline-block;
    width: 20px;
    height: 20px;
    background-image: url("../img/Logout.svg");
    margin-right: 4px; }
  .login:hover {
    font-weight: bolder; }
  @media screen and (max-width: 768px) {
    .login {
      padding: 4px 9px;
      font-size: 12px; } }
  @media screen and (max-width: 540px) {
    .login {
      margin-right: 15px; } }
  @media screen and (max-width: 428px) {
    .login {
      margin-right: 10px; } }
  @media screen and (max-width: 320px) {
    .login {
      margin-right: -15px; } }

.header_menu a {
  font-family: "Encode Sans Expanded", sans-serif;
  font-weight: 400;
  font-size: 16px;
  color: #3d3d3d;
  text-decoration: none; }
@media screen and (max-width: 768px) {
  .header_menu a {
    font-size: 11px; } }
.header_menu:after {
  display: block;
  width: 0;
  content: "";
  background-color: #46a358;
  height: 3px;
  margin-top: 25px;
  transition: 0.4s; }
.header_menu:hover .sub_menu {
  display: flex;
  max-height: 300px; }

.login {
  font-family: "Encode Sans Expanded", sans-serif;
  padding: 7px 17px;
  display: flex;
  align-items: center;
  margin-bottom: 18px; }
  .login:before {
    content: "";
    display: inline-block;
    width: 20px;
    height: 20px;
    background-image: url(../img/Logout.svg);
    margin-right: 4px; }

.banner {
  background: linear-gradient(135deg, rgba(245, 245, 245, 0.5) 0%, rgba(245, 245, 245, 0.5) 100%); }
  .banner img {
    width: 100%;
    height: 100%; }

.article_banner {
  padding-top: 68px;
  padding-left: 43px;
  margin-bottom: 7px;
  width: 700px; }
  @media screen and (max-width: 540px) {
    .article_banner {
      flex-direction: column;
      width: 100%;
      padding-top: 38px;
      padding-left: 23px;
      margin-bottom: -110px; } }
  @media screen and (max-width: 428px) {
    .article_banner {
      flex-direction: column;
      padding-top: 38px;
      padding-left: 23px;
      margin-bottom: -110px; } }

.welcome_to_greenshop {
  font-family: 'cera_proregular', sans-serif;
  font-weight: 500;
  font-size: 14px;
  line-height: 114%;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  color: #3d3d3d;
  margin-bottom: 7px; }
  @media screen and (max-width: 768px) {
    .welcome_to_greenshop {
      font-size: 12px; } }

.better_planet {
  font-family: 'cera_proregular', sans-serif;
  font-weight: 900;
  font-size: 70px;
  line-height: 100%;
  text-transform: uppercase;
  color: #3d3d3d;
  margin-bottom: 5px; }
  .better_planet span {
    color: #46a358; }
  @media screen and (max-width: 992px) {
    .better_planet {
      font-size: 54px; } }
  @media screen and (max-width: 768px) {
    .better_planet {
      font-size: 44px; } }

.text_banner {
  font-family: 'cera_proregular', sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 171%;
  color: #727272;
  margin-bottom: 43px; }
  @media screen and (max-width: 540px) {
    .text_banner {
      font-size: 12px; } }
  .text_banner br {
    display: none; }

.link_shop_now {
  padding: 10px 27px;
  display: inline-block;
  margin-bottom: 125px;
  animation: pulse_shop_now infinite 1s; }
  .link_shop_now:hover {
    font-weight: bolder; }
  @media screen and (max-width: 768px) {
    .link_shop_now {
      padding: 5px 10px;
      font-size: 14px;
      margin-bottom: 50px; } }
  @media screen and (max-width: 428px) {
    .link_shop_now {
      font-size: 12px; } }

@keyframes pulse_shop_now {
   0% {
    -webkit-transform: scale(1.3);
    -ms-transform: scale(1.3);
    transform: scale(1.3); }
   100% {
    -webkit-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1); } }
.owl-dots {
  display: flex;
  justify-content: center;
  position: absolute;
  width: 100%;
  bottom: 5px; }
  .owl-dots .owl-dot span {
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background-color: #46a358;
    margin: 10px;
    display: inline-block; }

.product .container {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  padding-top: 50px; }
  @media screen and (max-width: 992px) {
    .product .container {
      gap: 30px; } }
  @media screen and (max-width: 768px) {
    .product .container {
      padding-top: 25px; } }
  @media screen and (max-width: 540px) {
    .product .container {
      display: block; } }

.product .left_side {
  max-width: 310px;
  background: #fbfbfb; }
  .product .left_side ul a {
    display: flex;
    justify-content: space-between;
    margin-top: 14px;
    margin-left: 12px; }
  .product .left_side h4 {
    font-family: 'cera_proregular', sans-serif;
    font-weight: 700;
    font-size: 18px;
    line-height: 89%;
    color: #3d3d3d; }
  .product .left_side li a {
    font-family: 'cera_proregular', sans-serif;
    font-weight: 400;
    color: #3d3d3d;
    font-size: 15px;
    line-height: 267%;
    text-decoration: none;
    margin-bottom: 7px; }
    .product .left_side li a:hover {
      content: "";
      font-weight: 700;
      font-size: 15px;
      line-height: 267%;
      color: #46a358;
      transition: 0.4s; }
  .product .left_side img {
    margin-top: 377px; }
  @media screen and (max-width: 768px) {
    .product .left_side img {
      width: 100%;
      height: 100%; } }
  @media screen and (max-width: 540px) {
    .product .left_side {
      margin-bottom: 15px;
      max-width: none; } }

.product .right_side {
  max-width: 840px;
  width: 100%; }

.product .product_sort {
  display: flex;
  justify-content: space-between;
  margin-bottom: 31px; }
  .product .product_sort ul {
    display: flex;
    gap: 40px; }
    .product .product_sort ul li:after {
      display: block;
      height: 3px;
      background-color: #46a358;
      width: 0;
      content: "";
      margin-bottom: 7px;
      transition: 0.4s; }
    .product .product_sort ul li:hover:after {
      width: 100%; }
    .product .product_sort ul li a {
      display: block;
      font-family: 'cera_proregular', sans-serif;
      font-weight: 400;
      font-size: 15px;
      line-height: 107%;
      color: #3d3d3d;
      text-decoration: none;
      transition: color 0.4s, font-weight 0.4s; }
      .product .product_sort ul li a:hover {
        content: "";
        font-weight: 700;
        color: #46a358; }
  @media screen and (max-width: 768px) {
    .product .product_sort ul li a {
      font-size: 12px; } }
  @media screen and (max-width: 768px) {
    .product .product_sort ul {
      gap: 20px; } }
  @media screen and (max-width: 540px) {
    .product .product_sort ul {
      gap: 40px; } }
  @media screen and (max-width: 320px) {
    .product .product_sort ul {
      gap: 8px; } }

.product .short_by {
  font-family: 'cera_proregular', sans-serif;
  font-weight: 400;
  font-size: 15px;
  line-height: 107%;
  color: #3d3d3d;
  display: flex;
  align-items: center; }
  .product .short_by:after {
    display: inline-block;
    content: "";
    width: 16px;
    height: 16px;
    background-image: url("../img/Arrow.svg");
    margin-left: 5px; }
  @media screen and (max-width: 768px) {
    .product .short_by {
      font-size: 12px; } }

.main_product_item article {
  max-width: 250px;
  margin-bottom: 100px;
  border-top: solid 1px transparent;
  position: relative; }
  .main_product_item article:hover {
    border-top: solid 1px #46a358; }
  .main_product_item article .sale {
    position: absolute;
    background-color: #46a358;
    padding: 7px 8px;
    color: #fff;
    left: 0;
    top: 14px;
    animation: sale infinite 2s; }
@keyframes sale {
   0% {
    left: 0;
    top: 10px; }
   50% {
    left: 170px;
    top: 10px; }
   100% {
    left: 0;
    top: 10px; } }
  @media screen and (max-width: 768px) {
    .main_product_item article .sale {
      padding: 3px 5px; } }
  @media screen and (max-width: 768px) {
    .main_product_item article {
      max-width: 215px;
      margin-bottom: 40px; } }

.main_product_item {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  align-items: flex-end; }
  .main_product_item img {
    padding: 25px 6px; }
  .main_product_item a {
    max-height: 300px; }
  @media screen and (max-width: 540px) {
    .main_product_item {
      justify-content: center; } }

.action_items {
  display: flex;
  justify-content: center;
  gap: 26px;
  position: absolute;
  right: 80px;
  bottom: 45px;
  opacity: 0; }
  @media screen and (max-width: 428px) {
    .action_items {
      right: 35px; } }

.main_product_item article:hover .action_items {
  opacity: 100%;
  transition: 0.7s; }

.shopping {
  background-image: url("../img/shopping_black.svg");
  display: inline-block;
  width: 20px;
  height: 20px;
  margin-top: 21px; }
  .shopping:hover {
    background-image: url("../img/shopping.svg");
    content: "";
    width: 20px;
    height: 20px;
    margin-top: 21px; }

.favorites {
  background-image: url("../img/favorites.svg");
  display: inline-block;
  width: 20px;
  height: 18px;
  margin-top: 22px; }
  .favorites:hover {
    background-image: url("../img/favorites_green.svg");
    content: "";
    width: 20px;
    height: 18px;
    margin-top: 22px; }

.loupe {
  background-image: url("../img/loupe.svg");
  display: inline-block;
  width: 20px;
  height: 18px;
  margin-top: 22px; }
  .loupe:hover {
    background-image: url("../img/loupe_green.svg");
    display: inline-block;
    width: 20px;
    height: 18px;
    margin-top: 22px; }

.article_tittle {
  font-family: 'cera_proregular', sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 100%;
  color: #3d3d3d;
  margin-bottom: 6px; }
  @media screen and (max-width: 768px) {
    .article_tittle {
      font-size: 13px; } }

.article_price {
  font-family: 'cera_proregular', sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 89%;
  color: #46a358; }
  .article_price span {
    font-family: 'cera_proregular', sans-serif;
    text-decoration: line-through;
    width: 65px;
    height: 0;
    font-weight: 400;
    font-size: 18px;
    line-height: 89%;
    color: #a5a5a5;
    margin-left: 16px; }
  @media screen and (max-width: 768px) {
    .article_price {
      font-size: 13px; } }

.number_list {
  display: flex;
  justify-content: right;
  text-align: center;
  gap: 10px;
  margin-bottom: 124px; }
  .number_list li a {
    font-family: 'cera_proregular', sans-serif;
    border: 1px solid #e5e5e5;
    border-radius: 4px;
    width: 35px;
    height: 35px;
    padding: 10px 13px 9px 14px;
    text-decoration: none;
    font-weight: 300;
    font-size: 18px;
    line-height: 89%;
    color: #3d3d3d;
    display: flex;
    justify-content: center; }
    .number_list li a:hover {
      background: #46a358;
      font-weight: 700;
      font-size: 18px;
      line-height: 89%;
      color: #fff; }
  @media screen and (max-width: 768px) {
    .number_list li a {
      width: 25px;
      height: 25px;
      font-size: 14px;
      padding: 5px 10px 16px 11px; } }
  .number_list li:last-of-type a:before {
    content: "";
    display: inline-block;
    width: 18px;
    height: 18px;
    background-image: url("../img/Arrow_pages_black.svg");
    padding-left: 15px; }
  .number_list li:last-of-type:hover a:before {
    content: "";
    display: inline-block;
    width: 18px;
    height: 18px;
    background-image: url("../img/Arrow_white.svg");
    align-items: center; }
  @media screen and (max-width: 768px) {
    .number_list {
      margin-bottom: 50px;
      display: flex;
      justify-content: center; } }

.info .container {
  margin-bottom: 138px; }
  @media screen and (max-width: 768px) {
    .info .container {
      margin-bottom: 60px;
      flex-wrap: wrap; } }
  @media screen and (max-width: 540px) {
    .info .container {
      display: block;
      width: 100%; } }

.info_left, .info_right {
  display: flex;
  align-items: center;
  justify-content: space-around;
  text-align: right;
  max-width: 586px;
  background: #fbfbfb; }
  .info_left div h3, .info_right div h3 {
    font-family: 'cera_proregular', sans-serif;
    font-weight: 900;
    font-size: 18px;
    line-height: 133%;
    text-transform: uppercase;
    text-align: right;
    color: #3d3d3d;
    margin-bottom: 10px; }
  @media screen and (max-width: 768px) {
    .info_left div h3, .info_right div h3 {
      font-size: 15px; } }
  .info_left p, .info_right p {
    font-family: 'cera_proregular', sans-serif;
    font-weight: 400;
    font-size: 14px;
    line-height: 171%;
    text-align: right;
    color: #727272;
    margin-bottom: 30px; }
  @media screen and (max-width: 768px) {
    .info_left p, .info_right p {
      font-size: 10px; } }
  .info_left a, .info_right a {
    padding: 13px 27px;
    align-items: center; }
    .info_left a:hover, .info_right a:hover {
      font-weight: bold; }
  @media screen and (max-width: 540px) {
    .info_left a, .info_right a {
      width: 114px;
      margin-left: auto; } }
    .info_left a:after, .info_right a:after {
      content: "";
      display: inline-flex;
      width: 20px;
      height: 14px;
      background-image: url("../img/Arrow_Right.svg");
      margin-left: 6px; }
  @media screen and (max-width: 768px) {
    .info_left a, .info_right a {
      padding: 8px 21px;
      font-size: 10px;
      margin-left: auto;
      width: 114px; } }
  @media screen and (max-width: 992px) {
    .info_left, .info_right {
      margin-right: 12px;
      justify-content: center;
      gap: 24px; } }
  @media screen and (max-width: 768px) {
    .info_left, .info_right {
      gap: 0;
      width: 100%; } }
  @media screen and (max-width: 320px) {
    .info_left, .info_right {
      margin-bottom: 21px; } }
  @media screen and (max-width: 768px) {
    .info_left img, .info_right img {
      width: 68%;
      height: 100%; } }

.blog_posts h2 {
  font-family: 'cera_proregular', sans-serif;
  font-weight: 700;
  font-size: 30px;
  line-height: 53%;
  text-align: center;
  color: #3d3d3d;
  margin-bottom: 15px; }
@media screen and (max-width: 768px) {
  .blog_posts h2 {
    font-size: 20px; } }
.blog_posts p {
  font-family: 'cera_proregular', sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 171%;
  text-align: center;
  color: #727272;
  margin-bottom: 35px; }
@media screen and (max-width: 768px) {
  .blog_posts p {
    font-size: 12px; } }

.blog_posts_element {
  display: flex;
  justify-content: space-between;
  gap: 44px; }
  .blog_posts_element article {
    max-width: 268px; }
  .blog_posts_element .date {
    font-family: 'cera_proregular', sans-serif;
    font-weight: 500;
    font-size: 14px;
    line-height: 114%;
    color: #46a358;
    margin-bottom: 4px; }
  @media screen and (max-width: 768px) {
    .blog_posts_element .date {
      font-size: 11px; } }
  .blog_posts_element h4 {
    font-family: 'cera_proregular', sans-serif;
    font-weight: 700;
    font-size: 20px;
    line-height: 130%;
    color: #3d3d3d;
    text-align: left;
    margin-bottom: 4px; }
  @media screen and (max-width: 768px) {
    .blog_posts_element h4 {
      font-size: 15px; } }
  .blog_posts_element p {
    font-family: 'cera_proregular', sans-serif;
    font-weight: 400;
    font-size: 14px;
    line-height: 157%;
    color: #727272;
    text-align: left;
    margin-bottom: 9px; }
  .blog_posts_element a {
    font-family: 'cera_proregular', sans-serif;
    font-weight: 500;
    font-size: 14px;
    line-height: 114%;
    color: #3d3d3d;
    text-decoration: none;
    display: inline-flex;
    align-items: center;
    margin-bottom: 112px; }
    .blog_posts_element a:after {
      content: "";
      width: 16px;
      height: 16px;
      color: #3d3d3d;
      background-image: url("../img/Arrow_right_dark.svg");
      margin-left: 6px; }
    .blog_posts_element a:hover:after {
      background-image: url("../img/Arrow_right_green.svg");
      content: ""; }
    .blog_posts_element a:hover {
      color: #46a358; }
  @media screen and (max-width: 768px) {
    .blog_posts_element a {
      font-size: 12px;
      margin-bottom: 60px; } }
  @media screen and (max-width: 992px) {
    .blog_posts_element {
      flex-wrap: wrap;
      justify-content: space-around;
      gap: 0; } }

#accordion {
  margin-bottom: 40px; }

.ui-accordion .ui-accordion-header {
  background-color: transparent;
  padding: 20px 10px;
  border: solid 1px black;
  border-radius: 16px;
  color: #3d3d3d;
  font-size: 17px;
  font-family: 'cera_proregular', sans-serif;
  font-weight: 600;
  color: #3d3d3d; }

.ui-accordion .ui-accordion-header.ui-state-active {
  border-radius: 16px 16px 0 0;
  border-bottom: none;
  transition: max-height 1s ease-in-out; }

.ui-accordion .ui-accordion-content p {
  color: #727272;
  text-align: left;
  margin-bottom: 9px;
  font-family: 'cera_proregular', sans-serif; }

.ui-accordion .ui-accordion-content {
  border: 1px solid #242424;
  border-radius: 0 0 16px 16px;
  border-top: none; }

.ui-state-active, .ui-widget-content .ui-state-active, .ui-widget-header .ui-state-active, a.ui-button:active, .ui-button:active, .ui-button.ui-state-active:hover {
  color: #242424; }

.ui-icon {
  position: absolute;
  right: 10px;
  top: 15px;
  background-image: none;
  background-position: inherit;
  text-indent: 0;
  margin-top: 0;
  width: 32px;
  height: 32px; }
  .ui-icon:before {
    content: "";
    display: block;
    width: 32px;
    height: 32px;
    background-image: url("https://www.limitlessx.com/cdn/shop/t/68/assets/chevron-down.svg"); }

.ui-accordion .ui-accordion-header.ui-state-active .ui-icon {
  -webkit-transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  transform: rotate(180deg); }

.ui-accordion .ui-accordion-header.ui-state-hover .ui-icon {
  background-image: none; }

.pre_footer_article {
  display: flex;
  justify-content: space-between;
  background: #fbfbfb;
  gap: 62px;
  margin-bottom: 24px; }
  .pre_footer_article img {
    margin-bottom: 17px; }
  .pre_footer_article h4 {
    font-family: 'cera_proregular', sans-serif;
    font-weight: 700;
    font-size: 17px;
    line-height: 94%;
    color: #3d3d3d;
    margin-bottom: 9px; }
  @media screen and (max-width: 768px) {
    .pre_footer_article h4 {
      font-size: 15px; } }
  .pre_footer_article p {
    font-family: 'cera_proregular', sans-serif;
    font-weight: 400;
    font-size: 14px;
    line-height: 157%;
    color: #727272;
    margin-bottom: 24px; }
  @media screen and (max-width: 768px) {
    .pre_footer_article p {
      font-size: 12px; } }
  .pre_footer_article form {
    max-width: 350px; }
  @media screen and (max-width: 992px) {
    .pre_footer_article form {
      max-width: 100%; } }
    .pre_footer_article form h4 {
      margin-bottom: 18px; }
    .pre_footer_article form p {
      font-family: 'cera_proregular', sans-serif;
      font-weight: 400;
      font-size: 13px;
      line-height: 169%;
      color: #727272; }
  @media screen and (max-width: 992px) {
    .pre_footer_article {
      justify-content: space-around;
      gap: 15px;
      flex-wrap: wrap;
      width: 100%; } }

.pre_footer_article2 {
  border-left: 1px solid rgba(70, 163, 88, 0.1);
  min-height: 204px;
  min-width: 227px;
  padding-left: 27px; }
  @media screen and (max-width: 540px) {
    .pre_footer_article2 {
      border-left: none; } }

.pre_footer_article3 {
  border-left: 1px solid rgba(70, 163, 88, 0.1);
  min-height: 204px;
  min-width: 236px;
  padding-left: 35px; }
  @media screen and (max-width: 540px) {
    .pre_footer_article3 {
      border-left: none; } }

.pre_footer_input {
  display: flex;
  margin-bottom: 17px; }
  .pre_footer_input input {
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.06);
    background: #fff;
    padding-top: 12px;
    padding-left: 11px;
    padding-bottom: 12px;
    border-radius: 6px;
    width: 354px;
    border: #fff; }
  @media screen and (max-width: 768px) {
    .pre_footer_input input {
      padding-bottom: 6px;
      padding-top: 6px; } }
  .pre_footer_input button {
    font-size: 18px;
    line-height: 89%;
    padding: 12px 25px;
    border-radius: 0 6px 6px 0;
    width: 85px; }
    .pre_footer_input button:hover {
      content: "";
      font-weight: bold; }
  @media screen and (max-width: 768px) {
    .pre_footer_input button {
      font-size: 15px; } }

.pre_footer .gradient {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  margin: auto;
  max-width: 1200px;
  background: linear-gradient(90deg, #edf6ef 0%, #52c368 100%);
  padding: 25px 22px 19px 23px;
  margin-bottom: 25px; }
  .pre_footer .gradient p {
    font-family: 'cera_proregular', sans-serif;
    font-weight: 400;
    font-size: 14px;
    line-height: 157%;
    color: #3d3d3d; }
  .pre_footer .gradient .adress {
    display: inline-flex;
    align-items: center; }
    .pre_footer .gradient .adress:before {
      content: "";
      background-image: url("../img/Icon_1.svg");
      height: 20px;
      width: 20px;
      display: inline-flex;
      margin-right: 9px; }
@media screen and (max-width: 540px) {
  .pre_footer .gradient .adress {
    display: block;
    margin-bottom: 15px;
    margin-top: 15px; } }
  .pre_footer .gradient .email {
    display: inline-flex;
    align-items: center; }
    .pre_footer .gradient .email:before {
      content: "";
      background-image: url("../img/Icon_2.svg");
      height: 20px;
      width: 20px;
      margin-right: 10px; }
  .pre_footer .gradient .phone {
    display: inline-flex;
    align-items: center; }
    .pre_footer .gradient .phone:before {
      content: "";
      background-image: url("../img/Icon_3.svg");
      height: 20px;
      width: 20px;
      margin-right: 8px; }
@media screen and (max-width: 540px) {
  .pre_footer .gradient .phone:before {
    padding-bottom: 5px;
    padding-right: 20px; } }
@media screen and (max-width: 540px) {
  .pre_footer .gradient .phone {
    display: block;
    margin-top: 10px; } }
@media screen and (max-width: 992px) {
  .pre_footer .gradient {
    max-width: 100%; } }
@media screen and (max-width: 540px) {
  .pre_footer .gradient {
    display: block;
    padding: 15px 2px 14px 15px; } }

.main_container_footer {
  min-width: 1200px;
  margin: auto;
  display: flex;
  justify-content: space-between;
  align-items: self-start;
  border-bottom: 1px solid rgba(70, 163, 88, 0.2);
  margin-bottom: 14px;
  padding-top: 10px;
  padding-left: 23px;
  background: #fbfbfb; }
  .main_container_footer article h4 {
    font-family: 'cera_proregular', sans-serif;
    font-weight: 700;
    font-size: 18px;
    line-height: 89%;
    color: #3d3d3d;
    flex-basis: 100%;
    margin-bottom: 15px; }
  .main_container_footer ul {
    font-family: 'cera_proregular', sans-serif;
    font-weight: 700;
    font-size: 18px;
    line-height: 89%;
    color: #3d3d3d; }
    .main_container_footer ul li a {
      font-family: 'cera_proregular', sans-serif;
      font-weight: 400;
      font-size: 14px;
      line-height: 214%;
      color: #3d3d3d;
      text-decoration: none; }
  @media screen and (max-width: 992px) {
    .main_container_footer {
      min-width: auto;
      gap: 30px;
      flex-wrap: wrap; } }
  @media screen and (max-width: 768px) {
    .main_container_footer {
      min-width: auto;
      gap: 30px; } }
  @media screen and (max-width: 540px) {
    .main_container_footer {
      flex-wrap: wrap;
      gap: 22px; } }
  @media screen and (max-width: 428px) {
    .main_container_footer {
      display: block; } }

.social_media h4 {
  font-family: 'cera_proregular', sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 89%;
  color: #3d3d3d;
  flex-basis: 100%;
  margin-bottom: 20px; }
.social_media ul {
  display: flex;
  flex-wrap: wrap;
  max-width: 224px;
  max-height: 154px; }
  .social_media ul li {
    display: flex;
    flex-direction: row;
    padding-right: 10px; }

.my_account {
  min-width: 100px;
  min-height: 174px;
  padding-bottom: 29px; }

.Help_Guide {
  min-width: 137px;
  min-height: 174px; }

.Categories {
  min-width: 93px;
  min-height: 174px; }

footer article li a:hover {
  content: "";
  font-weight: 400;
  font-size: 14px;
  line-height: 214%;
  color: #46a358;
  transition: 0.4s; }

.copyright {
  font-family: 'cera_proregular', sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 214%;
  color: #3d3d3d;
  text-align: center;
  margin-bottom: 19px; }
